*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', sans-serif;
}
#zagolovok{
      margin: 20px 20px 40px 20px;
      color:dodgerblue;

}

.carts-block_1 {
      display: flex;
      justify-content: space-between;
      margin: 20px 20px 20px 20px;

}
.cart_1 {
      background-color: white;
      box-shadow:3px 6px 10px #CBBDBD;
      width: 31%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.bottom_1 {
      background-color: #9398D7;
      width: 150px;
      height: 40px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.bottom_1>a{
      text-decoration: none;

}
.bottom_1>a>p{
      color: white;

}

.text {
      margin: 5px 0px 20px 0px;
      font-size: 18px;
      color: #55999A;
}
.cart_2{
      justify-content: start;
}

.header {
      display: flex;
      justify-content: start;
}
.avatar-info {
      margin: 0px 0px 0px 20px;
      display: flex;
      justify-content:space-around;
      flex-direction: column;
}
.avatar-info>h3{
      font-size: 30px;
}
.time {
      color: #55999A;
      font-size: 17px;
}
.footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
}
.footer>.text{
      flex: 1; /* понятия не имею как оно работает , но работает! */
}
.footer>a{
      text-decoration: none;
       color:slategray;
}
.cart_3{
      padding: 0px;
      margin: 0px;
}
.footer_3 {
      margin: 20px;
}
.footer_3>div>h3{
      font-size: 23.2px;
      color: rgba(0, 0, 0, 0.59 );
      margin: 10px 0px 10px 0px;
}
.footer_3>a{
      margin: 20px 0px 0px 0px;
}